@font-face {
    font-family: mcontenthfont;
    src: url(../fonts/abel-regular.ttf);
}
@font-face {
    font-family: mcontentpfont;
    src: url(../fonts/Bainsley_Roman.otf);
}
@font-face {
    font-family: sidehfont;
    src: url(../fonts/Azonix.otf);
}
@font-face {
    font-family: pandp;
    src: url(../fonts/pricedown\ bl.otf);
}
@font-face {
    font-family: headfond;
    src: url(../fonts/ethnocentric\ rg.otf);
}
@font-face {
    font-family: adfont;
    src: url(../fonts/Advertising\ Script\ Bold\ Trial.ttf);
}
body{
    text-align: center;
}
.header{
    padding: 40px;
}
.header h1{
    color: rgb(35, 35, 35);
    font-size: 44px;
    font-family: adfont;
    text-align: center;
}
.box{
    border: 5px solid rgb(255, 99, 99);
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 160px;
    height: 180px;
    box-shadow: 0 3px 20px 3px rgb(50, 50, 50);
}
.box:hover{
    box-shadow: 0 3px 20px 3px rgba(50, 50, 50, 0.812);
    border: 5px solid rgb(219, 219, 219);
    cursor: pointer;
}
.box img{
    object-fit: cover;
    width: 150px;
    height: 85px;
    padding: 5px;
}
.boxtext h4{
    text-align: center;
    font-size: 18px;
    padding: 8px;
    font-family: mcontentpfont;
    font-weight: 800;
    color: rgb(37, 37, 37);
}
.boxtext p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(64, 64, 64);
    padding: 8px;
    font-family: mcontentpfont;
    margin-top: -17px;
    line-height: 15px;
}
.boxcol{
    padding: 15px;
}
.boxcol a{
    text-decoration-line: none;
}

/* INFO TEXT */
.infotext h4{
    font-family: mcontenthfont;
    font-size: 20px;
    padding: 10px;
    font-weight: 800;
    color: rgb(66, 66, 66);
}

/* HOME BUTTON WITHIN HEADING */
.hmbtn{
    color: rgb(95, 11, 42);
    cursor: pointer;
}
.hmbtn:hover{
    color: rgb(255, 255, 255);
}

/* PARAGRAPH STYLE INSIDE */
.para p{
    color: rgb(35, 35, 35);
    font-size: 26px;
    font-family: adfont;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
    line-height: 42px;
}

/* THE CONTENTS IN OUR SQUAD AREA */
/* THE TOP NAV BUTTONS */
.obtn{
    color: rgb(238, 210, 125);
    cursor: pointer;
    font-size: 36px;
    margin-top: 25px;
    padding: 10px;
}
.obtn:hover{
    color: aqua;
}

/* SCROLL TO TOP BUTTON */
#btnScrollToTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #37020b;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.356);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 3000;
}
#btnScrollToTop:active{
    background: #630029;
}

/* SCROLL BAR CSS */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient( #e8c77a, #ff0090);
    border-radius: 20px;
}

/* ADMINISTRATORS */
.p1{
    width: 230px;
    align-items: left;
    padding: 5px;
    margin-bottom: 20px;
    text-align: left;
}
.p1 .pi{
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}